
/*

SIMPLE THREE COLUMN LAYOUT

*/

div.container {
	padding-top: 15px;
	padding-bottom: 15px;
}

div.container > div.left {
	float: left;
	width: 32%;
	color: #F39C12;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

div.container > div.center {
	display: inline-block;
	width: 33%;
	color: #F1C40F;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;

}

div.container > div.right {
	float: right;
	width: 32%;
	color: #27AE60;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

/*

MEDIA QUERIES

*/
@media only screen and (max-width: 964px) {
	div.container > div.left {
		width: 100%;
		float: none;
	}

	div.container > div.center {
		width: 100%;
		display: inline;
	}

	div.container > div.right {
		float: none;
		width: 100%;
	}
}
